<ion-view view-title="Flexibility">
  <ion-content class="padding">
    <ion-list>
        <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/KJaWIBg15n0" frameborder="0" width="560" height="315"></iframe>
                </div>
            </ion-item>
        </div>
        <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/qC7960yMaxA" frameborder="0" width="560" height="315"></iframe>
                </div>
            </ion-item>
        </div>
        <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="http://www.youtube.com/embed/qZTGgEWPbLk" frameborder="0" width="560" height="315"></iframe>
                </div>
            </ion-item>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
